<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/auth/sfdc" style="display: block;"> Login to download. </a>
    <a href="/download" style="display: block;"> Download Zip file. </a>
  </body>
</html>
